/* style.css */
/* Font for all links */
nav a {
    font-family: 'Montserrat', sans-serif;
    /* Add any other styles you want for the links */
}

/* Background color for the body */
body {
    background-color: #0B1C51; /* Dark blue color */
    color: white; /* Set text color to white for better readability */
    margin: 0; /* Remove default margin */
}

/* Container for header content */
header {
    text-align: center;
    padding: 10px;
}


title {
    font-size: 52px; 

}
/* Title styles */
h1 {
    font-size: 48px;
    margin: 10px 0; /* Add some margin for better spacing */
}

/* Navigation styles */
nav {
    margin-top: 20px; /* Add margin between title and navigation */
}

/* Navigation links styles */
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

/* Media query for mobile devices with a maximum width of 767 pixels */
@media all and (max-width: 767px) {
    h1 {
        font-size: 36px; /* Adjust title font size for smaller screens */
    }

    nav {
        margin-top: 10px; /* Adjust margin for smaller screens */
    }
}